*{
margin: 0;
padding: 0;
font-family: 'Nunito', sans-serif;
}
body{
    min-height: 100vh;
    background: #000000;
}

.fit{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(255, 255, 255, 0.5)), url(gym/fitbg.jpg );
    height: 100vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.fitness h1{
    font-size: 5rem;
    color:  rgb(255, 111, 0);
    text-transform: uppercase;
    font-family: 'argesta';
    margin-left: 40%;
    align-self: flex-start;
    
}
.fitness h2{
      font-size: 2.5rem;
      color: #000000;
      text-transform: uppercase;
      font-family: 'argesta';
      margin-left: 25%;     
}
.fitness p{
    font-size: 1rem;
    margin-left: 60%;
    margin-bottom: 50%;
}
    
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
background-color:   rgb(255, 111, 0);

}

.sidebar{
     position: fixed;
     top: 0;
     left: 0;
     width: 250px;
     height: 100%;
     background: rgba(0, 0, 0, 0.262);
     display: flex;
     padding: 20px 5px 0 20px;
     flex-direction: column;
 }
header h2{
    font-size: 30px;
    text-align: center;
    color:  rgb(255, 111, 0);
    padding-bottom: 5px;
 }
.scrollbox{
    overflow: auto;
    padding-right: 10px;
    visibility: hidden;
}
.scrollbox-inner,
.scrollbox:hover{
    visibility: visible;
}
.scrollbox-inner p {
      font-size: 16px;
      color: #ffffff;
}
footer h2{
    font-size: 24px;
    color:  rgb(255, 111, 0);
    padding: 15px 0 40px ;
}

